.course-filter {
	margin: 30px auto;
}
.course-filter nav {
	display: flex;
	padding: 10px;
	background-color: #fff;
	border-radius: 4px;
}
.course-filter p {
	font-size: 0.9em;
	margin-right: 10px;
}
.course-filter button {
	background: transparent;
	border: 0;
	font-family: inherit;
	font-weight: bold;
	color: var(--text-color);
	cursor: pointer;
	border-right: 1px solid #e4e4e4;
	font-size: 0.9em;
}
.course-filter button:last-child {
	border: 0;
}
.course-filter button.active {
	color: var(--primary-color);
}
